.weather-box {
  background-color: aliceblue;
  position: fixed;
  left: 15px;
  top: 10px;
  max-width: 150px;
  width: 25%;
  height: 4em;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: x-small;
  font-family: "Times New Roman", Times, serif;
  color: cadetblue;
}
.weather-box:hover {
  cursor: pointer;
  background-color: transparent;
  color: darkcyan;
  font-size: small;
  transition: all 1s ease-in;
}
